.Tile {
  position: absolute;
  border: 0.4vmin solid var(--color-black);
  border-radius: 999px;
  background-color: var(--color-white);
}

.Tile.red {
  background-color: var(--color-red-light);
}

.Tile.blue {
  background-color: var(--color-blue-light);
}

.Tile.green {
  background-color: var(--color-green-light);
}

.Tile.yellow {
  background-color: var(--color-yellow-light);
}

.Tile.up::after,
.Tile.right::after,
.Tile.down::after,
.Tile.left::after {
  content: '';
  position: absolute;
  background-color: var(--color-black);
}

.Tile.up::after,
.Tile.down::after {
  width: 0.4vmin;
  height: 30%; /* 30% is the tile margin */
}

.Tile.right::after,
.Tile.left::after {
  width: 30%; /* 30% is the tile margin */
  height: 0.4vmin;
}

.Tile.up::after {
  bottom: 103%; /* don't ask... */
  left: 50%;
  margin-left: -0.2vmin;
}

.Tile.right::after {
  left: 103%;
  top: 50%;
  margin-top: -0.2vmin;
}

.Tile.down::after {
  top: 103%;
  right: 50%;
  margin-right: -0.2vmin;
}

.Tile.left::after {
  right: 103%;
  bottom: 50%;
  margin-bottom: -0.2vmin;
}
