.Tile {
    position: absolute;
    border: 3px solid var(--color-black);
    border-radius: 999px;
    background-color: var(--color-white);
}

.Tile.red {
    background-color: var(--color-red);
}

.Tile.blue {
    background-color: var(--color-blue);
}

.Tile.green {
    background-color: var(--color-green);
}

.Tile.yellow {
    background-color: var(--color-yellow);
}
