.Die {
    --transition-time: 500ms;
    --timing-function: ease-out;

    cursor: pointer;
    position: absolute;
    width: 6vmin;
    height: 6vmin;
    background: radial-gradient(circle, var(--color-white) 70%,#dddddd 100%);
    border-radius: 6px;
    box-shadow: 6px 3px 20px var(--color-shadow);
    transition: top var(--transition-time) var(--timing-function),
        left var(--transition-time) var(--timing-function),
        transform var(--transition-time) var(--timing-function);
}

.Die .dot {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: var(--color-black);
    border-radius: 999px;
    margin: -5px 0 0 -5px;
}

.Die.value-1 .dot.top-left,
.Die.value-1 .dot.top-right,
.Die.value-1 .dot.dot.center-left,
.Die.value-1 .dot.dot.center-right,
.Die.value-1 .dot.dot.bottom-left,
.Die.value-1 .dot.dot.bottom-right,
.Die.value-2 .dot.top-right,
.Die.value-2 .dot.dot.center-left,
.Die.value-2 .dot.dot.center,
.Die.value-2 .dot.dot.center-right,
.Die.value-2 .dot.dot.bottom-left,
.Die.value-3 .dot.top-left,
.Die.value-3 .dot.dot.center-left,
.Die.value-3 .dot.dot.center-right,
.Die.value-3 .dot.dot.bottom-right,
.Die.value-4 .dot.dot.center-left,
.Die.value-4 .dot.dot.center,
.Die.value-4 .dot.dot.center-right,
.Die.value-5 .dot.dot.center-left,
.Die.value-5 .dot.dot.center-right,
.Die.value-6 .dot.dot.center {
    display: none;
}

.Die .dot.top-left {
    top: 25%;
    left: 25%;
}
.Die .dot.top-right {
    top: 25%;
    left: 75%;
}
.Die .dot.center-left {
    top: 50%;
    left: 25%;
}
.Die .dot.center {
    top: 50%;
    left: 50%;
}
.Die .dot.center-right {
    top: 50%;
    left: 75%;
}
.Die .dot.bottom-left {
    top: 75%;
    left: 25%;
}
.Die .dot.bottom-right {
    top: 75%;
    left: 75%;
}
