.Pawn {
    position: absolute;
    background: url('/karel.png') center center no-repeat;
    background-size: 70%;
    border-radius: 999px;
    /* box-shadow: 6px 3px 0 3px var(--color-shadow) */
}

.Pawn.red {
  background-color: var(--color-red);
}

.Pawn.blue {
  background-color: var(--color-blue);
}

.Pawn.green {
  background-color: var(--color-green);
}

.Pawn.yellow {
  background-color: var(--color-yellow);
}
