.Pawn {
  --transition-time: 1s;
  --transition-function: ease-in-out;

  cursor: pointer;
  position: absolute;
  background: url('/karel.png') center center no-repeat;
  background-size: 70%;
  border-radius: 999px;
  transition: top var(--transition-time) var(--transition-function),
    left var(--transition-time) var(--transition-function);
  box-shadow: 6px 3px 20px var(--color-shadow)
}

.Pawn.red {
  background-color: var(--color-red);
}

.Pawn.blue {
  background-color: var(--color-blue);
}

.Pawn.green {
  background-color: var(--color-green);
}

.Pawn.yellow {
  background-color: var(--color-yellow);
}
