.Pawn {
  --transition-time: 1s;
  --transition-function: ease-in-out;

  cursor: pointer;
  position: absolute;
  border-radius: 999px;
  transition: top var(--transition-time) var(--transition-function),
    left var(--transition-time) var(--transition-function);
  box-shadow: 0.8vmin 0.4vmin 3vmin var(--color-shadow);
}

.Pawn.red {
  background-color: var(--color-red);
}

.Pawn.blue {
  background-color: var(--color-blue);
}

.Pawn.green {
  background-color: var(--color-green);
}

.Pawn.yellow {
  background-color: var(--color-yellow);
}

.Pawn.disabled {
  cursor: not-allowed;
}

.Pawn::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background: url('./karel.png') 45% 40% no-repeat;
  background-size: 70%;
}

.Pawn:not(.disabled)::after {
  animation: wobble 800ms ease-out 5s alternate infinite;
}

@keyframes wobble {
  0% {
    transform: rotate(30deg);
  }
  20% {
    transform: rotate(-30deg);
  }
  40% {
    transform: rotate(30deg);
  }
  60%, 100% {
    transform: rotate(0);
  }
}
