.App {
    position: relative;
    width: 96vmin;
    height: 96vmin;
    margin: 2vmin auto;
    border: 5px solid var(--color-red);
    border-radius: 1vmin;
    background-color: var(--color-board);
}

.App::after {
    content: '';
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: 5px;
    left: 5px;
    border: 2px solid var(--color-black);
}
