.App {
    position: relative;
    width: 100vmin;
    height: 96vmin;
    margin: 2vmin auto;
    /* padding: 5vmin; */
    border: 5px solid var(--color-red);
    border-radius: 1vmin;
}

.App::after {
    content: '';
    position: absolute;
    top: 1vmin;
    right: 1vmin;
    bottom: 1vmin;
    left: 1vmin;
    border: 3px solid var(--color-black);
}
